.modeWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    top: 21px;
    padding-bottom: 15px;
}
.modeContainer {
    position: absolute;
    width: 200px;
    height: 200px;
    /* border: .5px dashed green; */
    border-radius: 50%;
    transition: transform var(--transition-time) linear;
}

.modeIconContainer {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: rotate(0deg);
    transition: transform var(--transition-time) linear;
    top: -20px; /* -child size/2 */
    left: 80px; /* parent size/2 - child size/2 */
}

.darkClicked {
    background-color: transparent;
}

.lightClicked {
    background-color: transparent;
}

/* .lightClicked:hover {
    box-shadow: var(--light-mode-box-shadow);
}

.darkClicked:hover
 {
    box-shadow: var(--dark-mode-box-shadow);
} */

