.productList {
  display: block;
  margin-top: 44px;
  margin-bottom: 60px;
  padding: 0px;
  position: relative;
  overflow: auto;
}

.productList::-webkit-scrollbar {
  width: 6px;
  background: rgb(240, 241, 243);
}

.productList::-webkit-scrollbar-thumb {
  background: rgb(38, 64, 97);
  border-radius: 6px;
}

@media (min-width: 768px) {
  .productList {
    margin-left: 0;
    width: 650px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .productList {
    margin-left: 0px;
    margin-top: 12px;
    width: 292px;
  }
}
