.logoContainer {
    display: flex;
    align-items: center;
    margin-left: 0;
}
.textLogo {
    margin-top: 20px;
    margin-left: 5px;
}

.smallScreenNavigationContainer {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: auto;
    background-color: #fff;
    box-shadow: none;
    transition: right 0.3s ease;
}

.largeScreenContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Navigation {
    display: flex;
        justify-content: flex-start;
        align-items: center;
    margin-left: 20px;
}

.showTextLogo {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hideTextLogo {
    opacity: 0;
    transition: opacity 0.3s ease;
}