.logoContainer {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.textLogo {
    margin-top: 20px;
    margin-left: 5px;
}

.smallScreenNavigationContainer {
    box-shadow: none;
}

.largeScreenContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-top: 32px;
}

.showTextLogo {
    opacity: 1;
    transition: opacity 1s ease;
}

.hideTextLogo {
    opacity: 0;
    transition: opacity 0.7s ease;
}

.smallScreenNavContainer {
    bottom: 15;
    right: -100;
    width: 150px;
    height: 30px;
    background-color: gray;
    transition: right 0.9s ease;
    /* Add transition for smooth sliding */
}

.slideIn {
    right: 0;
    /* Slide in to the right */
}

.slideOut {
    right: -250px;
    /* Slide out to the right, outside the viewport */
}