
:root {
    --orange-color: #fc842d;
    --white-color: #ffffff;
    --hover-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.Button {
    width: 182px;
    padding: 1rem;
    margin: 30px;
    height: 44px;
    border-radius: 30px;
    font-family: 'Verdana';
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    transition: color 0.3s, box-shadow 0.3s;
}

.orange {
    background-color: var(--orange-color);
    color: var(--white-color);
    border: solid var(--orange-color);
}
.orange:hover,
.orange:focus {
    background-color: var(--white-color);
    color: var(--orange-color);
    border: solid var(--orange-color);
    box-shadow: var(--hover-box-shadow);
}

.white {
    background-color: var(--white-color);
    color: var(--orange-color);
    border: solid var(--orange-color);
    border-radius: 30px;
    border-width: 2px;

}
.white:hover,
.white:focus {
    background-color: var(--orange-color);
    color: var(--white-color);
    border: solid var(--orange-color);
    box-shadow: var(--hover-box-shadow);
}


.disabled {
color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}


.wide{
    width: 210px;  
}
