/* .calendarPopperContainer {
  margin-top: 40px;
} */

.btnPopperContainer {
  display: flex;
  align-items: center;
  margin-top: -45px;
}
.dateText {
  font-size: 18px;
  font-weight: 700;
  font-family: Verdana
}
.paper{
    /* overflow-x: hidden; */
    /* width: 320px; */
    /* max-height: 358px; */
    /* margin-right: 200px; */
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  .dateText {
    font-size: 34px;
  }
}

@media (min-width: 1280px) {
  .dateText {
    font-size: 34px;
  }
}