.sideBarContainer {
  padding-top: 150px;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-background-color);
}
.sideBarContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0px;
}
.sideBarContent {
  width: 100%;
  max-width: 288px;
}
.sideBarTitle {
  font: 700 14px Verdana;
}
.statsBox {
  max-width: 300px;
  font: 500 14px Verdana;
  color: #9b9faa;
  margin-top: 20px;
  width: 100%;
  list-style: none;
  padding: 0;
}
.statsBoxItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .sideBarContainer {
    position: relative;
    z-index: -1;
  }
  .sideBarContentWrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) {
  .sideBarContainer {
    max-width: 1280px;
    padding-left: 94px;
    left: 60%;
    top: 0%;
    width: 40%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }
  .sideBarContentWrapper {
    flex-direction: column;
    position: relative;
    top: 220px;
  }
}
