.sideBarContainer {
  width: 100%;
  padding: 40px 0;
}
.sidebarBox {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 475px;
}

.sideBarContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 20px;
}
.sideBarContent {
  width: 100%;
  max-width: 288px;
}
.sideBarTitle {
  font: 700 14px Verdana;
}
.statsBox {
  max-width: 300px;
  font: 500 14px Verdana;
  margin-top: 20px;
  width: 100%;
  list-style: none;
  padding: 0;
}
.statsBoxItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .sidebarBox {
    padding-top: 0;
    width: 100%;
    height: 307px;
    position: absolute;
  }

  .sideBarContentWrapper {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    
  }
}
@media screen and (min-width: 1280px) {
  .sideBarContainer {
    padding-top: 150px;
    left: 60%;
    top: 0%;
    width: 40%;
    height: 100vh;
    position: absolute;
  }
  .sidebarBox {
    padding-left: 94px;
    left: 60%;
    top: 0%;
    width: 40%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  .sideBarContentWrapper {
    flex-direction: column;
    position: relative;
    top: 220px;
    margin: 0 auto;
    justify-content: unset;
  }
}
