.circlePlus {
  border-radius: 50%;
  background-color: var(--accent-bright-color);
  width: 48px;
  height: 48px;
  transition: color 0.3s, box-shadow 0.3s, background-color 0.5s;
  color: var(--secondary-font-light);
  border: solid var(--accent-bright-color);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  margin: 20px auto 0;
}

.circlePlus:hover {
  background-color: var(--primary-background-color);
  color: var(--accent-bright-color); 
  box-shadow: var(--hover-box-shadow);
  border: solid var(--accent-bright-color);
}

.circlePlus:disabled {
  box-shadow: none;
  color: var(--disabled-button-text);
  background-color: rgba(0, 0, 0, 0.12);
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .circlePlus {
    margin: 0;
  }
}
