.form {
  margin-top: 15px;
}

.form_container {
  margin: 0 auto;
  max-width: 1280px;
}

.form_title {
  color: #fc842d;
  font-family: 'Verdana';
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.form_grid {
  text-align: center;
}

.login_button {
  width: 182px;
  padding: 1;
  margin: 2;
  height: 44px;
  background-color: #fc842d;
  border-radius: 30px;
  color: #ffffff;
  font-family: 'Verdana';
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

.login_button:disabled {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  cursor: not-allowed;
}

.error_message {
  color: red;
  font-family: 'Verdana';
  font-size: 12px;
  font-weight: 700;
}

.error_message_valid {
  color: green;
  font-family: 'Verdana';
  font-size: 12px;
  font-weight: 700;
}

.button_container {
  margin: 60px 0 0 0;
}

/* styles for mobile */
@media screen and (min-width: 320px) {
  /* .form_container {
    padding: 20px;
  } */

  .form_container form {
    max-width: 300px;
    margin: 0 auto;
  }

  .form_title {
    margin-bottom: 55px;
  }
}

/* styles for tablet */

@media screen and (min-width: 768px) {
  .form_title {
    text-align: left;
    margin-bottom: 20px;
  }

  .form_container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 60px;
  }

  .form_grid {
    text-align: left;
  }

  .email_input {
    text-align: left;
  }

  .button_container  {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  .button_container button {
    margin-right: 32px;
  }
}

/* styles for desktop */
@media screen and (min-width: 1280px) {
  .button_container button {
    margin-right: 32px;
  }
  .form_container {
    margin-top: 0;
  }
}
