.logo-container {
    display: flex;
margin-top: -20px;
}
.text-container {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.image-container {
    width: 71px;
}
.svg-link {
    display: block;
}
.text-container .svg-link {
    margin-right: 5px;
    margin-left: -53px;
    margin-top: 16px;
    
}
.logo {
    max-width: 70%;
    height: auto; 
}
.text{
    max-width: 50%;
        height: auto;
}
/* styles for tablet */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    /* .logo-container{
        margin-top: -15px;
    } */
    .logo {
            max-width: 47%;
            margin-top: 15px;
        }
.text {
    max-width: 47%;
    height: auto;
    
}
    .text-container {
        display: flex;
        margin-top: 35px;
        margin-right: 330px;
        
    }

.text-container .svg-link {
        margin-left: -45px;
            margin-top: -10px;
            margin-right: -10px;
    
}

}

/* styles for Mobile */
@media screen and (max-width: 768px) {
    .logo {
        max-width: 70%;
    }
    .logo-container{
        margin-top: 20px;
        
    }
.text{
    max-width: 35%;
}
        .text-container .svg-link {
    display: none;
        }
    
.vector-container {
width: 71px;
}
}

