.heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin: 30px 20px;
}

@media screen and (min-width: 768px) {
    .heading {
        font-size: 34px;
        line-height: 50px;
        margin: 80px 180px 0px 32px;
    }
}

@media screen and (min-width: 1024px) {
    .heading {
        font-size: 34px;
        line-height: 50px;
        margin: 80px 350px 0px 20px;
    }
}

@media screen and (min-width: 1280px) {
    .heading {
        font-size: 34px;
        line-height: 50px;
        margin: 110px 600px 0px 20px;
    }
}

@media screen and (min-width: 1400px) {
    .heading {
        font-size: 34px;
        line-height: 50px;
        margin: 120px 700px 0px 20px;
    }
}