.headerToolbar {
    display: flex;
    align-items: center;
}

.logoTextContainer {
    display: flex;
    align-items: center;
}

.fitMomText {
    margin-left: 10px;
}

.mlAuto {
    margin-left: 20px;
}