.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diaryform {
  width: 100%;
}

.formdiv {
  display: flex;
  flex-direction: column;
}

.diaryFormBtn {
  display: flex;
  margin: auto;
  margin-top: 60px;
}

.notAllowedFood {
  color: red;
  font-size: 8px;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .diaryform {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 60px;
  }

  .diaryFormBtn {
    display: flex;
    margin: 0;
  }
}