/* :root {
    --orange-color: #fc842d;
    --white-color: #ffffff;
    --hover-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */
.Button {
    width: 182px;
    padding: 1rem;
    height: 44px;
    border-radius: 30px;
    font-family: 'Verdana';
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    transition: color 0.3s, box-shadow 0.3s, background-color 0.5s;
}

.orange {
    background-color: var(--accent-bright-color);
    color: var(--secondary-font-light);
    border: solid var(--accent-bright-color);
}

.orange:hover,
.orange:focus {
    background-color: var(--secondary-font-light);
    color: var(--accent-bright-color);
    border: solid var(--accent-bright-color);
    box-shadow: var(--hover-box-shadow);
}

.white {
    background-color: var(--secondary-font-light);
    color: var(--accent-bright-color);
    border: solid var(--accent-bright-color);
    border-radius: 30px;
    border-width: 2px;

}

.white:hover,
.white:focus {
    background-color: var(--accent-bright-color);
    color: var(--secondary-font-light);
    border: solid var(--accent-bright-color);
    box-shadow: var(--hover-box-shadow);
}


.disabled {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}


.wide {
    width: 210px;
    margin-left: 339px;
    margin-top: 73px;
}

.archive {
    width: 210px;
    margin-left: 15px;
    margin-top: 15px;

}

.graph {
    width: 125px;
    margin-bottom: 10px;
}

.small {
    width: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .wide {
        width: 210px;
        margin-left: 0px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 767px) {
    .wide {
        width: 210px;
        margin-left: 0px;
        margin-top: 40px;
    }
}